
body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #dc1a0d;
    font-size: 18px;
}

h1 {
    color: #dc1a18;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0;
}
h2 {
    color: #2959dc;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 50%;
    font-weight: 200;
    margin-bottom: 0;
}
button {
    color: #fdffff;
}
